/* Sets a max-height for the content of scroller */
.ty-analog-items-pop-up > .owl-carousel > .owl-wrapper-outer > .owl-wrapper > .owl-item > .ut2-gl__item > form .ut2-gl__body > .ut2-gl__content,
.ty-analog-items-pop-up > .owl-carousel > .owl-wrapper-outer > .owl-wrapper > .owl-item > .ut2-gl__item > .ut2-gl__body > .ut2-gl__content {
    max-height: 120px !important;
}
/* Sets a margin between outside navigation and product cards in the scroller */
.ty-analog-items-pop-up > .ty-owl-controls {
    margin: -15px 0 0 0 !important;
}
/* Sets dimensions of scroller on a product page */
.ty-analog-items-product {
    max-width: 1240px;
    min-width: 290px;
    margin: 0 auto;
    padding-bottom: 15px;
}
